# Variables required for deployment
# - TARGET_ENV
# - PROJECT_NAME
# - PROJECT_PREFIX
# - VERSION


services:
  frontend:
    image: ${PROJECT_NAME}:v${VERSION}
    container_name: ${PROJECT_NAME}-${TARGET_ENV}-v${VERSION}
    restart: unless-stopped
    env_file:
      - .env.${SERVICE_NAME_SHORT}.${TARGET_ENV}
    environment:
      - NODE_ENV=production
      - NEXT_PUBLIC_APP_ENV=production  # Explicitly set the app environment
      - HOST=0.0.0.0 # Allow Next.js server to be accessed from outside the container
      - FRONTEND_PORT_INTERNAL=${FRONTEND_PORT_INTERNAL}
      - FRONTEND_PORT_EXTERNAL=${FRONTEND_PORT_EXTERNAL}
      - DATABASE_URL=postgresql://${DB_USER}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT_INTERNAL}/${DB_NAME}
    ports:
      - "${FRONTEND_PORT_EXTERNAL}:${FRONTEND_PORT_INTERNAL}"
    networks:
      - shared-network  # Referenced from the shared-network section

networks:
  shared-network:
    external: true
    name: ${PROJECT_PREFIX}-network-${TARGET_ENV}

