# Variables required for deployment
# - TARGET_ENV
# - PROJECT_NAME
# - PROJECT_PREFIX
# - VERSION


services:
  frontend:
    image: ${PROJECT_NAME}-frontend:v${VERSION}
    container_name: ${PROJECT_NAME}-frontend-${TARGET_ENV}-v${VERSION}
    restart: unless-stopped
    env_file:
      - .env.${SERVICE_NAME_SHORT}.${TARGET_ENV}
    environment:
      - NODE_ENV=production  # Changed from staging to production for optimization
      - APP_ENV=staging  # Explicitly set the app environment
      - HOST=0.0.0.0 # Allow Next.js server to be accessed from outside the container
      - FRONTEND_PORT_INTERNAL=${FRONTEND_PORT_INTERNAL}
      - FRONTEND_PORT_EXTERNAL=${FRONTEND_PORT_EXTERNAL}
      - DATABASE_URL=postgresql://${DB_USER}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT_INTERNAL}/${DB_NAME}
    ports:
      - "${FRONTEND_PORT_EXTERNAL}:${FRONTEND_PORT_INTERNAL}"
    depends_on:
      - postgresql
    networks:
      - shared-network  # Referenced from the shared-network section

  postgresql:
    image: ${PROJECT_NAME}-postgresql:v${VERSION}
    container_name: ${PROJECT_NAME}-postgresql-${TARGET_ENV}-v${VERSION}
    restart: unless-stopped
    ports:
      - "${DB_PORT_EXTERNAL}:${DB_PORT_INTERNAL}"
    env_file:
      - .env.${SERVICE_NAME_SHORT}.${TARGET_ENV}
    volumes:
      - postgresql-data:/var/lib/postgresql/data # Use a simple volume name
    networks:
      - shared-network   # Referenced from the shared-network section

networks:
  shared-network:
    external: true
    name: ${PROJECT_PREFIX}-network-${TARGET_ENV}

volumes:
  postgresql-data:
    external: true
    name: ${PROJECT_PREFIX}-postgresql-data-${TARGET_ENV}